In [289]:
import pandas as pd

In [290]:
df=pd.read_csv("titanic.csv")

In [291]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [292]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [293]:
df=df[[ 'Survived', 'Pclass', 'Sex', 'Age', 'Fare']]

In [294]:
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [295]:
x=df.drop("Survived",axis=1)

In [296]:
y=df["Survived"]

In [297]:
df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
Fare          0
dtype: int64

In [298]:
df["Age"]=df["Age"].fillna(df.Age.mean())

C:\Users\Designoo 09\AppData\Local\Temp\ipykernel_3276\39445068.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"]=df["Age"].fillna(df.Age.mean())

In [299]:
df.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
Fare        0
dtype: int64

In [300]:
df["Sex"]=df["Sex"].apply(lambda x:1 if x=="male" else 0)
#df["Sex"]=pd.get_dummies(df["Sex"],drop_first=True)   #we can use any metgod

C:\Users\Designoo 09\AppData\Local\Temp\ipykernel_3276\423112220.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Sex"]=df["Sex"].apply(lambda x:1 if x=="male" else 0)

In [301]:
df

     Survived  Pclass  Sex        Age     Fare
0           0       3    1  22.000000   7.2500
1           1       1    0  38.000000  71.2833
2           1       3    0  26.000000   7.9250
3           1       1    0  35.000000  53.1000
4           0       3    1  35.000000   8.0500
..        ...     ...  ...        ...      ...
886         0       2    1  27.000000  13.0000
887         1       1    0  19.000000  30.0000
888         0       3    0  29.699118  23.4500
889         1       1    1  26.000000  30.0000
890         0       3    1  32.000000   7.7500

[891 rows x 5 columns]

In [302]:
x=df.drop("Survived",axis=1)

In [303]:
y=df["Survived"]

In [304]:
from sklearn.model_selection import train_test_split

In [305]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,random_state=10)

In [306]:
from sklearn.naive_bayes import GaussianNB

In [307]:
gb=GaussianNB()

In [308]:
gb.fit(xtrain,ytrain)

GaussianNB()

In [309]:
pred=gb.predict(xtest)

In [310]:
pred

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1], dtype=int64)

In [311]:
ytest

590    0
131    0
628    0
195    1
230    1
      ..
12     0
203    0
84     1
886    0
759    1
Name: Survived, Length: 223, dtype: int64

In [312]:
gb.score(xtest,ytest)

0.8251121076233184

In [313]:
from sklearn.metrics import accuracy_score

In [314]:
accuracy_score(ytest,pred)

0.8251121076233184

In [321]:
gb.predict_proba(xtest)

array([[9.60642819e-01, 3.93571807e-02],
       [9.55994056e-01, 4.40059435e-02],
       [9.59741184e-01, 4.02588157e-02],
       [2.16262633e-04, 9.99783737e-01],
       [2.62626636e-02, 9.73737336e-01],
       [9.55385947e-01, 4.46140532e-02],
       [9.59262413e-01, 4.07375869e-02],
       [9.10207846e-01, 8.97921543e-02],
       [9.60977226e-01, 3.90227743e-02],
       [9.57675723e-01, 4.23242774e-02],
       [9.18794809e-01, 8.12051908e-02],
       [1.56759266e-01, 8.43240734e-01],
       [2.90106716e-01, 7.09893284e-01],
       [7.66953669e-01, 2.33046331e-01],
       [9.20651624e-01, 7.93483758e-02],
       [9.14495960e-01, 8.55040397e-02],
       [9.60804501e-01, 3.91954994e-02],
       [9.28106448e-01, 7.18935519e-02],
       [4.70949737e-01, 5.29050263e-01],
       [9.60594212e-01, 3.94057881e-02],
       [9.61782046e-01, 3.82179542e-02],
       [9.21340443e-01, 7.86595574e-02],
       [3.01363601e-01, 6.98636399e-01],
       [9.59293452e-01, 4.07065479e-02],
       [9.46679321e-01, 5.33206786e-02],
       [9.56675982e-01, 4.33240183e-02],
       [9.56233229e-01, 4.37667706e-02],
       [2.93695703e-01, 7.06304297e-01],
       [8.98909219e-01, 1.01090781e-01],
       [4.25757368e-02, 9.57424263e-01],
       [7.66444222e-02, 9.23355578e-01],
       [9.14495960e-01, 8.55040397e-02],
       [3.88979344e-01, 6.11020656e-01],
       [9.60447427e-01, 3.95525735e-02],
       [4.23874809e-01, 5.76125191e-01],
       [9.60729428e-01, 3.92705720e-02],
       [4.69244553e-01, 5.30755447e-01],
       [1.75831850e-09, 9.99999998e-01],
       [9.60723465e-01, 3.92765350e-02],
       [9.60993769e-01, 3.90062305e-02],
       [9.60178557e-01, 3.98214429e-02],
       [9.19938779e-01, 8.00612209e-02],
       [9.60757996e-01, 3.92420040e-02],
       [4.36065935e-01, 5.63934065e-01],
       [6.48495628e-01, 3.51504372e-01],
       [7.60658570e-01, 2.39341430e-01],
       [9.56956577e-01, 4.30434227e-02],
       [9.56995240e-01, 4.30047601e-02],
       [5.44966836e-02, 9.45503316e-01],
       [5.98734175e-01, 4.01265825e-01],
       [6.82244807e-01, 3.17755193e-01],
       [9.14595769e-01, 8.54042312e-02],
       [9.60831758e-01, 3.91682423e-02],
       [6.12560494e-01, 3.87439506e-01],
       [8.59202969e-01, 1.40797031e-01],
       [5.44147922e-03, 9.94558521e-01],
       [9.21874890e-01, 7.81251101e-02],
       [4.79159161e-01, 5.20840839e-01],
       [8.06473029e-10, 9.99999999e-01],
       [9.59180535e-01, 4.08194650e-02],
       [9.59285227e-01, 4.07147727e-02],
       [2.89288854e-02, 9.71071115e-01],
       [4.80005713e-01, 5.19994287e-01],
       [4.80450742e-01, 5.19549258e-01],
       [8.70114405e-01, 1.29885595e-01],
       [9.54571782e-01, 4.54282179e-02],
       [9.18573618e-01, 8.14263824e-02],
       [9.60907920e-01, 3.90920799e-02],
       [9.60976304e-01, 3.90236960e-02],
       [3.07132745e-01, 6.92867255e-01],
       [9.03441907e-01, 9.65580933e-02],
       [9.58311826e-01, 4.16881742e-02],
       [9.56459254e-01, 4.35407463e-02],
       [9.29591494e-01, 7.04085061e-02],
       [3.08424325e-01, 6.91575675e-01],
       [9.52706549e-01, 4.72934514e-02],
       [9.58282132e-01, 4.17178684e-02],
       [9.23608687e-01, 7.63913127e-02],
       [7.64773812e-01, 2.35226188e-01],
       [9.60522364e-01, 3.94776362e-02],
       [9.61420256e-01, 3.85797441e-02],
       [9.60723465e-01, 3.92765350e-02],
       [7.76505521e-01, 2.23494479e-01],
       [2.73351236e-03, 9.97266488e-01],
       [2.96653904e-01, 7.03346096e-01],
       [9.21892805e-01, 7.81071946e-02],
       [5.57280246e-03, 9.94427198e-01],
       [8.86955403e-02, 9.11304460e-01],
       [9.21633146e-01, 7.83668542e-02],
       [2.75101448e-01, 7.24898552e-01],
       [9.61022640e-01, 3.89773596e-02],
       [9.60719472e-01, 3.92805279e-02],
       [7.51130250e-01, 2.48869750e-01],
       [9.60793874e-01, 3.92061259e-02],
       [6.80392650e-02, 9.31960735e-01],
       [4.79686215e-01, 5.20313785e-01],
       [4.46883091e-01, 5.53116909e-01],
       [9.61082529e-01, 3.89174715e-02],
       [5.72591343e-02, 9.42740866e-01],
       [9.13966716e-01, 8.60332837e-02],
       [9.21957309e-01, 7.80426914e-02],
       [6.10195740e-01, 3.89804260e-01],
       [9.60399193e-01, 3.96008070e-02],
       [6.77769980e-01, 3.22230020e-01],
       [3.06604499e-01, 6.93395501e-01],
       [2.66856991e-02, 9.73314301e-01],
       [9.14495960e-01, 8.55040397e-02],
       [5.41450614e-02, 9.45854939e-01],
       [3.07282786e-01, 6.92717214e-01],
       [7.61533649e-01, 2.38466351e-01],
       [2.99849612e-01, 7.00150388e-01],
       [9.60447686e-01, 3.95523142e-02],
       [2.77985046e-02, 9.72201495e-01],
       [9.60793874e-01, 3.92061259e-02],
       [9.52258794e-01, 4.77412064e-02],
       [4.00452090e-01, 5.99547910e-01],
       [6.85727193e-01, 3.14272807e-01],
       [7.51531836e-02, 9.24846816e-01],
       [4.73523735e-01, 5.26476265e-01],
       [4.28699637e-01, 5.71300363e-01],
       [9.02861032e-04, 9.99097139e-01],
       [9.26745450e-01, 7.32545501e-02],
       [6.78790060e-02, 9.32120994e-01],
       [4.41036333e-01, 5.58963667e-01],
       [4.88625236e-01, 5.11374764e-01],
       [4.80005713e-01, 5.19994287e-01],
       [2.00513834e-02, 9.79948617e-01],
       [9.61657136e-01, 3.83428638e-02],
       [9.60793874e-01, 3.92061259e-02],
       [8.55729157e-01, 1.44270843e-01],
       [1.00609330e-01, 8.99390670e-01],
       [9.58011506e-01, 4.19884945e-02],
       [9.58840821e-01, 4.11591790e-02],
       [3.50742180e-04, 9.99649258e-01],
       [2.87569155e-01, 7.12430845e-01],
       [4.80471870e-01, 5.19528130e-01],
       [9.61893228e-01, 3.81067722e-02],
       [7.61783804e-01, 2.38216196e-01],
       [7.67841379e-11, 1.00000000e+00],
       [9.49866135e-01, 5.01338650e-02],
       [4.80762500e-01, 5.19237500e-01],
       [9.59741184e-01, 4.02588157e-02],
       [7.60425920e-01, 2.39574080e-01],
       [6.63468979e-01, 3.36531021e-01],
       [9.60600542e-01, 3.93994582e-02],
       [9.61720930e-01, 3.82790699e-02],
       [9.21828471e-01, 7.81715293e-02],
       [8.49619000e-01, 1.50381000e-01],
       [9.57891891e-01, 4.21081085e-02],
       [9.59142609e-01, 4.08573912e-02],
       [9.60963844e-01, 3.90361556e-02],
       [7.45930537e-01, 2.54069463e-01],
       [3.58760140e-02, 9.64123986e-01],
       [9.54461529e-01, 4.55384708e-02],
       [9.61163165e-01, 3.88368347e-02],
       [4.48028965e-01, 5.51971035e-01],
       [9.60600542e-01, 3.93994582e-02],
       [9.16927343e-01, 8.30726566e-02],
       [9.60723465e-01, 3.92765350e-02],
       [9.60594212e-01, 3.94057881e-02],
       [9.16462557e-01, 8.35374429e-02],
       [4.80005713e-01, 5.19994287e-01],
       [4.86497345e-01, 5.13502655e-01],
       [9.60757996e-01, 3.92420040e-02],
       [9.54432048e-01, 4.55679520e-02],
       [4.83251621e-01, 5.16748379e-01],
       [9.35775092e-01, 6.42249078e-02],
       [9.55061045e-01, 4.49389552e-02],
       [4.87000564e-01, 5.12999436e-01],
       [9.57175448e-01, 4.28245524e-02],
       [4.86937865e-01, 5.13062135e-01],
       [8.28327886e-01, 1.71672114e-01],
       [9.17294197e-01, 8.27058025e-02],
       [4.86670137e-01, 5.13329863e-01],
       [5.97872535e-01, 4.02127465e-01],
       [9.11297765e-01, 8.87022354e-02],
       [9.57160109e-01, 4.28398911e-02],
       [9.35280221e-01, 6.47197785e-02],
       [7.38559200e-01, 2.61440800e-01],
       [9.60353832e-01, 3.96461684e-02],
       [3.01578562e-01, 6.98421438e-01],
       [4.87103683e-01, 5.12896317e-01],
       [7.54410757e-01, 2.45589243e-01],
       [9.53660932e-01, 4.63390679e-02],
       [9.17873303e-01, 8.21266965e-02],
       [6.85238510e-01, 3.14761490e-01],
       [9.59160053e-01, 4.08399467e-02],
       [9.60641623e-01, 3.93583772e-02],
       [9.58521910e-01, 4.14780901e-02],
       [9.61836502e-01, 3.81634976e-02],
       [4.74663030e-01, 5.25336970e-01],
       [3.32292541e-01, 6.67707459e-01],
       [8.67148413e-01, 1.32851587e-01],
       [7.29278098e-01, 2.70721902e-01],
       [8.92117292e-01, 1.07882708e-01],
       [6.65655292e-01, 3.34344708e-01],
       [9.41897480e-01, 5.81025196e-02],
       [9.43049114e-01, 5.69508856e-02],
       [2.94171383e-01, 7.05828617e-01],
       [9.60867571e-01, 3.91324289e-02],
       [9.58737618e-01, 4.12623818e-02],
       [7.05878159e-01, 2.94121841e-01],
       [9.50172010e-01, 4.98279899e-02],
       [9.54975331e-01, 4.50246687e-02],
       [9.60723465e-01, 3.92765350e-02],
       [9.60757996e-01, 3.92420040e-02],
       [6.87032746e-01, 3.12967254e-01],
       [9.60499342e-01, 3.95006578e-02],
       [4.21098227e-01, 5.78901773e-01],
       [6.59207326e-01, 3.40792674e-01],
       [4.48863741e-01, 5.51136259e-01],
       [9.60375331e-01, 3.96246687e-02],
       [9.56233229e-01, 4.37667706e-02],
       [6.31204505e-01, 3.68795495e-01],
       [9.16826580e-01, 8.31734199e-02],
       [4.77824258e-01, 5.22175742e-01],
       [4.80005713e-01, 5.19994287e-01],
       [9.57936380e-01, 4.20636201e-02],
       [9.56265463e-01, 4.37345365e-02],
       [9.55787418e-01, 4.42125817e-02],
       [2.68818776e-01, 7.31181224e-01],
       [9.20276046e-01, 7.97239545e-02],
       [2.29026121e-02, 9.77097388e-01]])